html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mr-50-percent{
    margin-right:50%;
}

.snack-container {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    margin-bottom:30px;
}

.snack-details{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}